* {
	margin-top: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width:98%;
	margin-right: auto;
	margin-left: auto;
	font-family: Verdana;
}

header {
	font-weight: bold;
}

.headerlogo {
	position: relative;
	top: 10px;
	float: left;
	margin-right: 10px;
}

.headerlogo img {
	border-radius: 50%;
}

#main-header {
	margin-top: 0.2em;
	height: 25vh;
	background: linear-gradient(to top right, #111a39, #336280);
}

.search-box {
	float: right;
	padding: 4px;
	margin: 10px;
	width: 40%;
}

#header-text {
	color: #fff;
	position: relative;
	top: 15vh;
	padding: 0.2em;
	margin: 1.1em 0;
	font-weight: bold;
	font-family: headerfont;
}

nav {
	width: 98%;
	color: #fff;
	position: relative;
	bottom: 2vh;
	left: 7.5em;
	font-family: navfont;
	letter-spacing: 2px;
	font-size: larger;
}


nav li {
	list-style: none;
	display: inline;
	margin-right: 1em;

}

nav ul {
	width: 100%;
	padding: 0;
}

nav a {
	text-decoration: none;
	color: #fff;
}

#welcome-image img {
	position: relative;
	float: left;
	width: 40%;
	top: 1.5em;
	margin-bottom: 3.5em;
}

#product-of-the-month img {
	float: right;
	width: 40%;
	margin-right: 10%;
	position: relative;
	top: 3em;
	margin-bottom: 3.5em;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

#welcome-text {
	float: left;
	width: 70%;
	font-size: large;
	margin: 1.5em 0.5em;
	padding: 0.5em;
	max-width: 500px;
}

.welcome-msg {
	column-width: 10em;
	margin-bottom: 8px;
}

#welcome-text > header {
	color: #111a39;
	font-size: larger;
	font-weight: bold;
	margin-bottom: 0.5em;
}

#updates {
	float: right;
	width: 90%;
	margin: 1em 0.5em;
	line-height: 1.5em;
}

#updates > header {
	color: #111a39;
	font-size: larger;
	font-weight: bold;
	margin-bottom: 0.5em;
}

#updates > ul {
	list-style: none;
}

#updates li {
	margin-bottom: 0.4em;
}

#welcome_update {
	width: 98%;
	margin: 0 auto;
	max-width: 800px;
}

#collections {
	width: 98%;
	margin-bottom: 1.5em;
	padding: 1em;
	color: #111a39;
}

#collections > header {
	font-size: larger;
	text-shadow: 5px 5px 5px #000;

}

#collections header {
	width: 90%;
	text-align: center;
	margin-bottom: 0.5em;
}

article {
	width: 100%;
	margin: 0 auto;
}

article img {
	display: block;
	width: 70%;
	margin-left: auto;
	margin-right: auto;
	border: 2px solid #111a39;
	border-radius: 1.5em;
}

article header {
	position: relative;
	left: 1.3em;
}

.product-price {
	text-align: center;
	margin-bottom: 0;
	padding: 0 0 0.5em 0;
}

.add-button {
	text-align: center;
	margin-bottom: 2em;
}

footer {
	clear: both;
	width: 100%;
	margin: 20px 0;
	background-color: #111a39;
	color: #fff;
	padding: 1.5em;
	text-align: center;
	border-radius: 1em 4em 0 0;
}


img[src^="images/all"] {
	border-left-color: #46a7de;
}


img[src$="ars.jpg"] {
	border-right-color: #46a7de;
}

img[src*="stars"] {
	border-width: 2px 4px;
	transform: skew(5deg, 8deg);
	animation: borderAnimation 10s
}

@keyframes borderAnimation{
	0% {border-top: 2px solid green;}
	25% {border-top: 2px solid red;}
	50% {border-top: 2px solid blue;}
	75% {border-top: 2px solid brown;}
	100% {border-top: 2px solid yellow;}
}


.add-button {
	margin-right: auto;
	margin-left: auto;
	cursor: pointer;
	padding: 0.2em 0.2em;
	background: #111a39;
	border: 2px solid #336280;
	color: #fff;
	font-size: 0.8em;
	width: 20%;
	border-radius: 1em;
	box-shadow: 2px 2px 5px #000;
}

.add-button:hover {
	background-color: #336280;
	border-color: #111a39;
	box-shadow: 4px 4px 8px #000;
}

@font-face {
	font-family:headerfont;
	src:url('../fonts/aquarium.otf');
}

@font-face {
	font-family:navfont;
	src:url('../fonts/Hunting.otf');
}