* {
	margin-top: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width:98%;
	margin-right: auto;
	margin-left: auto;
	font-family: Verdana;
}

header {
	font-weight: bold;
}

.headerlogo {
	position: relative;
	top: 10px;
	float: left;
	margin-right: 10px;
}

.headerlogo img {
	border-radius: 50%;
}

#main-header {
	height: 25vh;
	background-color: #111a39;
}