* {
	margin-top: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	width:98%;
	margin-right: auto;
	margin-left: auto;
	font-family: Verdana;
}

header {
	font-weight: bold;
}

.headerlogo {
	position: relative;
	top: 10px;
	float: left;
	margin-right: 10px;
}

.headerlogo img {
	border-radius: 50%;
}

#main-header {
	margin-top: 0.2em;
	height: 25vh;
	background-color: #111a39;
}

.search-box {
	float: right;
	padding: 4px;
	margin: 10px;
	width: 40%;
}

#header-text {
	color: #fff;
	position: relative;
	top: 15vh;
	padding: 15px;
	margin: 1.5em 0;
	font-weight: bold;
}

#welcome-image img {
	float: left;
	width: 40%;

}

#product-of-the-month img {
	float: right;
	width: 40%;
	margin-right: 10%;
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}